<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS LIBS AND CUSTOM STYLING -->
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Imok Desktop</title>
</head>
<body class="background-light">
    <!-- LEFT MENU -->
    <nav class="ui_menu">
        <span class="ui_menu_toggle"></span>
        <h2>Main Menu</h2>
    </nav>
    <!-- INTERFACE -->
    <div class="ui_container">
        <h2>Content</h2>
    </div>
<!-- SCRIPTS -->
<script>window.$ = window.jQuery = require('../assets/js/jquery-3.4.1.min.js');</script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>