<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS LIBS AND CUSTOM STYLING -->
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Imok Desktop</title>
</head>
<body class="background-light">
<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-primary shadow">
    <a href="dashboard.html" class="navbar-brand float-left">
        <img src="../assets/img/imok_logo_white.png" alt="">
        IMOK
    </a>
    <ul class="nav navbar-nav flex-row float-right">
        <li class="nav-item">
            <a class="nav-link mr-3" href="estate_search.html">
                <i class="fas fa-print"></i>
                Imprimer
            </a>
        </li>
    </ul>
</nav>
<main class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="card estate_preprint_card">
                <form action="" id="form">
                    <h4>Personnalisez l'annonce</h4>
                    <div class="form-group">
                        <label for="form_district">Quartier</label>
                        <input type="text" class="form-control" id="form_district" name="district" placeholder="Quartier?">
                    </div>
                    <div class="form-group">
                        <label for="form_description">Description</label>
                        <textarea type="text" class="form-control" id="form_description" name="description"></textarea>
                    </div>
                    <label for="form_image">Image à afficher sur l'annonce</label>
                    <input type="hidden" id="form_image" name="image">
                    <div class="row image_select" id="image_select"></div>
                    <div class="my-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="orientation" id="orientation_landscape" value="landscape" checked>
                            <label class="form-check-label" for="orientation_landscape">Paysage</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="orientation" id="orientation_portrait" value="portrait">
                            <label class="form-check-label" for="orientation_portrait">Portrait</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="form_submit">Prévisualiser</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <h4>Informations</h4>
                <div id="estate_info"></div>
            </div>
        </div>
    </div>
</main>

<!-- SCRIPTS -->
<script>window.$ = window.jQuery = require('../assets/js/jquery-3.4.1.min.js')</script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../renderers/estate_details.js"></script>
</body>
</html>
