<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS LIBS AND CUSTOM STYLING -->
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Imok Desktop</title>
</head>
<body class="background">
    <div class="container">
        <div class="card login-card">
            <div class="card-header">
                <img src="../assets/img/imok_logo.png" alt="" class="logo">
                <h1 class="card-title">
                    Connectez vous
                </h1>
            </div>
            <form action="">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">Addresse email</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Mon email">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Mon mot de passe">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="dashboard.html">J'ai oublié mon mot de passe...</a>
                    <button class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script>window.$ = window.jQuery = require('../assets/js/jquery-3.4.1.min.js');</script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>